---
---

@import "{{ site.theme }}";
.page-header {
    padding: 1rem 1rem;
}

.docs-nav {
    background: #f0f4f7;
    position: fixed;
    width: 250px;
    margin-right: 10px;
    overflow: auto;
    max-height: calc( 100% - 0px);
    padding-top: 56px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    transition: all 0.3s ease-in;
}

.docs-nav .docs-nav-item {
    text-decoration: none;
}

.docs-nav .docs-nav-item:hover {
    color: #32536a;
}

@media (max-width: 900px) {
    .docs-nav {
        display: block;
        left: -300px;
        transition: all 0.3s ease-in;
        z-index: 8;
    }
    header {
        height: 54px;
        background: #FFFFFF;
        box-shadow: 0 1px 2px 0 rgba(22, 45, 61, 0.24);
        pointer-events: auto;
    }
    .menu-icon {
        content: " ";
        background-image: url(../img/menu-icon.svg);
        margin: 0px 8px 0px 16px;
        width: 20px;
        height: 20px;
        background-position: center;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        pointer-events: auto;
    }
    .hidden-control_menu:checked ~ .main-content .docs-nav {
        display: block;
        z-index: 8;
        left: 0px;
        transition: all 0.3s ease-out;
    }
}
